# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*.scan
*.whl
*~
venv*/

# due to using tox and pytest
.tox
.cache
htmlcov
.coverage
.pytest_cache
.mypy_cache

# Misc
tags

tests/test*/
tests/venv*/

.vscode/
__experimental/
